DOMAIN=localhost:8002
BACKEND_BASE_URL=http://localhost:8002
API_BASE_URL=http://localhost:8002/api

WIDGET_API_BASE_URL=http://localhost:8002
WIDGET_APP_UUID=
WIDGET_TOKEN=
WIDGET_APP_NAME="ch8r support"
WIDGET_APP_DESCRIPTION="We're here to help"
WIDGET_APP_LOGO_URL=http://localhost:3000/favicon.ico
WIDGET_OFFSET_BOTTOM=64
WIDGET_THEME=blue
