backend/.idea/
backend/.vscode/
backend/.DS_Store
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/.env
backend/uploads/
backend/dump.rdb

frontend/.idea/
frontend/.vscode/
frontend/.DS_Store
frontend/.fleet
frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist
frontend/node_modules
frontend/logs
frontend/*.log
frontend/.env

__pycache__/
.idea/
.vscode/
.DS_Store
qdrant_storage
.env